* {
	margin: 0;
	padding: 0;
}

body,
html {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#desktop {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 40px;
	background: #0078D7;
	padding: 10px;
}

.icon {
	width: 80px;
	height: 80px;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 10px;
	background: rgba(255, 255, 255, 0.15);
	border: none;
	color: white;
	font-size: 15px;
	cursor: pointer;
	transition: background 0.2s;
	border-radius: 20px;
}

.emoji {
	font-size: 40px;
	margin-bottom: 5px;
}

.icon:hover {
	background: rgba(255, 255, 255, 0.35);
}

.context-menu {
	position: absolute;
	display: none;
	background: #333;
	color: #fff;
	border: none;
	border-radius: 20px;
	min-width: 140px;
	z-index: 2000;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.context-menu ul {
	list-style: none;
	margin: 0;
	padding: 4px 0;
}

.context-menu ul li {
	padding: 6px 10px;
	cursor: pointer;
	border-radius: 20px;
	transition: background 0.2s;
}

.context-menu ul li:hover {
	background: rgba(255, 255, 255, 0.2);
}

.context-menu {
	transition: opacity 0.1s ease;
	opacity: 0;
}

.context-menu[style*="display: block"] {
	opacity: 1;
}

/*****TASKBAR*****/

#startButton {
	width: auto;
	height: 100%;
	color: #ffffff;
	border: none;
	border-right: 2px solid #222;
	border-radius: 0;
	font-size: 16px;
	cursor: pointer;
	transition: 0.2s;
}

#startButton img {
	height: 100%;
	width: auto;
	transition: 0.2s;
}

#startButton img:hover {
	filter: brightness(0.8);
}

#taskbar-tray {
	padding: 0;
	flex: 1;
}

#taskbar {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0;
	z-index: 1000;
	background: #222;
}

#showDesktopBtn {
	background: transparent;
	border: none;
	border-left: 1px solid #111;
	padding: 13px 0px;
	margin: 0;
	margin-left: 5px;
	cursor: pointer;
	transition: 0.2s;
}

#showDesktopBtn:hover {
	background: #444;
}

#clock {
	color: white;
	font-size: 14px;
	min-width: 80px;
	text-align: center;
}

#volumeBtn {
	background: transparent;
	border: none;
	padding: 13px 0px;
	margin: 0;
	margin-left: 5px;
	cursor: pointer;
	transition: 0.2s;
}

#volumeBtn:hover {
	background: #444;
}

.taskbar-button {
	margin: 0;
	padding: 13px 20px;
	background: #555;
	color: #fff;
	border: none;
	border-right: 2px solid #222;
	border-radius: 0px;
	cursor: pointer;
	transition: background 0.2s;
}

.taskbar-button:hover {
	background: #666;
}

/*****STARTSCREEN*****/

#startScreen {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2000;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s;
}

#startScreen.show {
	opacity: 1;
	visibility: visible;
	transition: 0.3s;
}


.start-menu-content {
	padding: 20px;
	border-radius: 20px;
	color: #fff;
	text-align: center;
	background: rgba(34, 34, 34, 0.5);
	backdrop-filter: blur(10px);
}

.start-menu-content h2 {
	margin-bottom: 10px;
}

.start-menu-content button {
	display: block;
	width: 333px;
	margin: 10px auto;
	padding: 10px;
	background: rgba(34, 34, 34, 0.9);
	color: #fff;
	border: none;
	font-size: 16px;
	cursor: pointer;
	border-radius: 20px;
	transition: 0.2s;
}

.start-menu-content button:hover {
	background: rgba(66, 66, 66, 0.9);
}

#shutdownbtn {
	background: #ff6f4b !important;
	transition: 0.2s !important;
}

#shutdownbtn:hover {
	background: #ff926e !important;
}

#closestartbtn {
	background: rgba(124, 124, 124, 0.9);
	 !important;
	transition: 0.2s !important;
}

#closestartbtn:hover {
	background: rgba(91, 91, 91, 0.9) !important;
}

.hidden {
	display: none !important;
}

.bg-selector {
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
	padding: 15px;
}

.bg-selector img {
	width: 120px;
	height: 80px;
	object-fit: cover;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.2s;
}

.bg-selector img:hover {
	transform: scale(1.05);
	box-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
}

/*****START*****/

#boot-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: black;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 99999;
	font-size: 60px;
	letter-spacing: 5px;
	opacity: 1;
	transition: opacity 1.5s ease;
}

#boot-text {
	opacity: 0;
	font-family: consolas, system-ui;
	animation: fadeInOut 3s ease forwards;
}

@keyframes fadeInOut {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	75% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

#login-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(135deg, #b7f1d9, #86c8b4);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 1s ease;
	z-index: 9999;
}

#login-box {
	background: rgba(255, 255, 255, 0.8);
	border-radius: 16px;
	padding: 30px 40px;
	text-align: center;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#login-box input {
	width: 200px;
	padding: 10px;
	margin: 10px 0;
	border: none;
	border-radius: 8px;
	font-size: 16px;
}

#login-box button {
	padding: 10px 25px;
	border: none;
	border-radius: 8px;
	background: #333;
	color: white;
	font-size: 16px;
	cursor: pointer;
	transition: 0.2s;
}

#login-box button:hover {
	background: #555;
}

#login-error {
	color: red;
	margin-top: 8px;
	font-size: 14px;
	height: 18px;
}

/*****SHUTDOWN*****/

#shutdown-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: black;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3em;
	z-index: 99999;
	opacity: 0;
	transition: opacity 1s ease;
}

#shutdown-screen.show {
	opacity: 1;
}

#shutdown-text {
	font-family: consolas, system-ui;
	animation: fadeOut 2s ease 1s forwards;
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.sharebtn {
	border: none;
	padding: 5px;
	margin: 5px;
	background: #b7f1d9;
	border-radius: 5px;
	color: 000;
	box-shadow: 1px 1px 1px 3px rgba(0, 0, 0, 0.3);
	transition: 0.2s;
}

.sharebtn:hover {
	background: #d5ffe5;
}

/*****NOTIFICATION*****/

#notification-panel {
	position: fixed;
	top: 0;
	right: -320px;
	width: 320px;
	height: calc(100%-40px);
	bottom: 40px;
	background: rgba(34, 34, 34, 0.9);
	color: #fff;
	box-shadow: -5px 0 10px rgba(0, 0, 0, 0.3);
	transition: right 0.3s ease;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 999;
	backdrop-filter: blur(10px);
}

#notification-panel.active {
	right: 0;
}

#notification-btn {
	background: transparent;
	border: none;
	padding: 13px 13px;
	margin: 0;
	margin-left: 5px;
	cursor: pointer;
	transition: 0.2s;
}

#notification-btn:hover {
	background: #444;
}

.notifications {
	padding: 15px;
	flex-grow: 1;
	overflow-y: auto;
}

.notifications h3 {
	margin-bottom: 10px;
}

#notification-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

#notification-list li {
	background: #333;
	color: #fff;
	margin-bottom: 10px;
	padding: 8px 10px;
	border-radius: 8px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.delete-btn {
	background: none;
	border: none;
	cursor: pointer;
	color: #ff0000;
	font-size: 14px;
}

.noti-controls {
	padding: 12px;
	border-top: 1px solid #ccc;
	background: rgba(0, 0, 0, 0.9);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
}

.noti-controls button {
	border: none;
	padding: 10px;
	border-radius: 8px;
	cursor: pointer;
	background: rgba(34, 34, 34, 0.9);
	color: #fff;
	transition: background 0.2s;
}

.noti-controls button:hover {
	background: rgba(34, 34, 34, 0.5);
}
